@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 20px 4px 10px #f3eee7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2B4E8C;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.section-spacing{
  @apply md:px-20 px-5 md:py-20 py-10;
}
.section-spacing2{
  @apply md:px-20 px-5 md:pb-20 pb-14;
}

