@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 20px 4px 10px #f3eee7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2B4E8C;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.section-spacing{
  @apply md:px-20 px-5 lg:py-20 py-5;
}
.section-spacing2{
  @apply md:px-20 px-5 md:pb-20 pb-14;
}

.swiperWrapper {
  @apply py-20;
}

.swiper-pagination-bullet {
  background: transparent !important;
  border: 1px solid #2B4E8C !important;
}

.swiper-pagination-bullet-active {
  border: none !important;
  background: #03C3DE !important;
}

